/* Basic CSS structure   */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*  Blog part */

#blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    background-color: #f9f8ff;
}

.blog-heading h3 {
    font-size: 2.4em;
    color:#252525;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 2.4rem;
}

.blog-heading strong {
    color:#0a0ef8;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.3px;
}

/* .blog-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
} */


.blog-box-container {
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 1050px;
    width: 90%;
    margin-top: 50px;
    
}

.blog-box {
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: all ease 0.3s;
  
}

.blog-box:hover {
    background-color: #ffffff;
    box-shadow: 16px 20px 50px rgba(0,0,0,0.12);
}

.blog-box-img {
    width: 100%;
    height: 100%;
    max-height: 300px;
    overflow: hidden;
    display: flex;
    position: relative;
}

.blog-box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all ease 0.3s;
}

.blog-img-link {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 30%;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #252525;
    box-shadow: 2px 2px 30px rgba(20, 97, 212, 0.12);
    animation: fade 0.3s;
}

.blog-box:hover .blog-box-img a{
    display: flex;
}

.blog-box:hover .blog-box-img img{
    filter: blur(3px);
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.blog-box-text{
    display: flex;
    flex-direction: column;
    padding: 30px 10px 20px 10px;
}
.blog-box-text strong,
.blog-box-text p{
    color: #797979;
    font-size: 0.9em;
    font-weight: 400;
}

.blog-box-text a{
    font-size: 1.4rem;
    color: #252525;
    font-weight: 800;
    line-height: 1.8rem;
    margin: 5px 0px 10px 0px;
}

.blog-box-text p{
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
}

.blog-author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.blog-author-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.blog-author-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-author-text {
    display: flex;
    flex-direction: column;
}

.blog-author-text strong{
    color: #252525;
    font-weight: 800;
}

.blog-author-text span {
    color: #797979;
    font-size: 0.8rem;
    font-weight: 500;
}




.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {

    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

/* Making Responsive */

@media only screen and (min-width: 991px) and (max-width: 1090px) {

    .blog-box-container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px 0px;
    }  
}

@media only screen and (min-width: 599px) and (max-width: 767px) {
    .blog-box-container{
        grid-template-columns: 1fr 1fr;
    } 

    .blog-heading h3 {
        font-size: 1.6rem;
        line-height: 1.6rem;
    }
}

@media only screen and (min-width: 280px) and (max-width: 599px) {
    .blog-box-container{
        grid-template-columns: 1fr;
    } 

    .blog-heading h3 {
        font-size: 1.6rem;
        line-height: 1.6rem;
    }

}


* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 60px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  margin-left: 300px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 10%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}